{% extends 'base.html' %}
{% load shorten_text %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}


{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'add-article' %}">Create article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'article-update' article.pk %}">Update article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'article-delete' article.pk %}">Delete article</a>
    </li>
{% endblock %}

{% block content %}
    <div class="article">
        <p>{{ article.upper_title }}</p>
        <h1>Название - {{ article.title|shorten:10 }}</h1>
        <p>Контент - {{ article.content|shorten:2 }}</p>
        <p>Автор - {{ article.author }}</p>
        <p>Дата создания - {{ article.created_at|date:"Y-m-d H:i:s"}} </p>
        <p>Статус - {{ article.get_status_display }} </p>
        <p>Блог - {{ article.blog.title|default:"не указан" }}</p>

{#        <p>{{ article.blog.articles.all }}</p>#}
        <hr/>
    </div>
{% endblock %}